{% load staticfiles %}
<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="UTF-8">
	<title>{% block title  %}{% endblock %} </title>
	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
	<div class = 'container'>
		<div class = 'row'>
			<div class = 'col-md-8'>
				{% block content%}

				{% endblock %}
			</div>
			<div class = 'col-md-4'>
				<h3 class="page-header">Ricky's Django Blog</h3>
				<p><a href="{% url 'blog:post_feed' %}" target="_blank"></a>Subscibe to RSS Feed</p>
			</div>
			<div id="fb-root"></div>
				<script>
					(function(d, s, id) {
					  var js, fjs = d.getElementsByTagName(s)[0];
					  if (d.getElementById(id)) return;
					  js = d.createElement(s); js.id = id;
					  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12';
					  fjs.parentNode.insertBefore(js, fjs);
					}(document, 'script', 'facebook-jssdk'));
				</script>
		</div>
	</div>
</body>

</html>